# Build results
.env
/.nyc_output
/babel_cache
/coverage
/dist
/logs
/output
/reports
/storybook-static

# Node & npm
/node_modules
/package-lock.json

# OS Files
.DS_Store

# IDE
/.idea
/.vscode

# Wallaby JS
/wallaby.conf.js

# pnpm
/pnpm-debug.log
/shrinkwrap.yaml

# Yarn
/yarn-error.log
/yarn.lock

# PM2
/ecosystem.*
